
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #007ACC ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background: white;
    padding: 20px 15px;
    border-radius: 5px;
    width: 400px;
}


.app-header{
    border-bottom: 2px solid #ccc;
    color: #007ACC ;
    padding: 10px 0;
    margin-bottom: 20px;
}
.app-header span{
    font-size: 20px;
}
.app-header span i{
    margin-right: 10px;
    cursor: pointer;
}


.body-header{
    margin: 15px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.body-input{
    margin: 10px 0;
}
.body-input input{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #ccc;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 18px;
}
.separator{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator::before{
    content: 'or';
    background: white;
    padding: 0 10px;
    font-size: 20px;
    color: #ccc;
}