
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #440F50, #B15B86) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 /* ----------------------- Working on modal ----------------------- */
 
 .modal-wrapper{
     background: rgba(0,0,0,0.3);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 5;
     display: none;
 }
 .modal-switch.active .modal-wrapper{
     display: block;
 }
 .modal-icon{
     display: flex;
     justify-content: flex-end;
     align-items: flex-start;
 }
 .modal-icon i{
     font-size: 25px;
     color: #ccc;
     margin-top: -15px;
     cursor: pointer;
 }
 .modal{
     background: white;
     padding: 20px 15px;
     width: 400px;
     height: 500px;
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 6;
     transform: translate(-50%, -50%);
     border: 3px solid #007ACC;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 .modal-bottom-details{
     display: flex;
     justify-content: space-evenly;
 }
 .modal img{
     width: 120px;
 }



.wrapper{
    background: white;
    margin-top: 100px;
    padding: 20px 15px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.wrapper.active .input-part{
    display: none;
}
.wrapper.active{
    margin-top: 30px;
}

.app-header{
    border-bottom: 2px solid #ccc;
    color: #007ACC ;
    padding: 10px 0;
    margin-bottom: 20px;
}
.app-header span{
    font-size: 20px;
}
.wrapper.active span i{
    font-size: 20px;
    margin-left: 10px;
}
.app-header span i{
    font-size: 0px;
    margin-right: 10px;
    cursor: pointer;
}


.body-header{
    display: none;
    margin: 15px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 5px;
}
.body-header.error{
    display: block;
    color : #d31900;
    background: rgba(255, 0, 0, 0.336);
}
.body-header.pending{
    display: block;
    color : #028f76;
    background:rgba(0, 128, 0, 0.336);
}
.body-input{
    margin: 10px 0;
}
.body-input input{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #ccc;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}
.body-input input:is(:focus, :valid){
    border: 2px solid #007ACC;
}
.separator{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator::before{
    content: 'or';
    background: white;
    padding: 0 10px;
    font-size: 20px;
    color: #ccc;
}
.app-footer button{
    width: 100%;
    height: 50px;
    border: none;
    background: #18D1DA;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}




.wrapper.active .weather-part{
    display: block;
}
.weather-part{
    display: none;
}
.top-details, .modal-top-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weather-part img{
    width: 125px;
}
.weather-part .temp, .modal-temp{
    font-size: 70px;
    font-weight: 600;
}
.weather, .modal-weather{
    font-weight: 500;
}
.location, .modal-location{
    margin: 15px 0;
}
.location i, .modal-location i{
    margin-right: 5px;
}

.bottom-details, .modal-bottom-details{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    border-top: 2px solid #ccc;
}
.column, .modal-column{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.column i, .modal-column i{
    font-size: 42px;
    margin-right: 13px;
    color: #007ACC;
}
.column .details span, .modal-details span{
    font-weight: 700;
}
.feels, .modal-feels{
    border-right: 2px solid #ccc;
    padding-right: 35px;
}
.humidity ,  .modal-humidity{
    padding-left: 35px;
}


 /* working on history part  */
.history-part{
    margin: 30px auto;
    background: white;
    padding: 20px 10px;
    border-radius: 5px;
    width: 400px;
    position: fixed;
    right: 0;
    bottom: 0;
    max-height: 270px;
    overflow-y: auto;
    box-shadow:0 10px 12px rgba(0,0,0,0.5);
}

.weather-card{
    cursor: pointer;
    transition: all 0.2s ;
    margin: 20px 10px;
    border: 2px solid #007ACC;
    border-radius: 5px ;
    padding: 5px 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-card:hover{
    box-shadow: 0 7px 10px  rgba(0,0,0,0.5);
    /* transform: translateY(-5px); */
}
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-card.active  .card-right-first{
    display: none;
}
.weather-card.active  .card-right-second{
    display: block;
}

.card-right-first{
    transition: all 0.2s ;
}
.card-right-second{
    display: none;
    transition: all 0.2s ;
}
.card-right-second p{
    padding: 3px 13px;
    color: white;
    background: blue;
    cursor: pointer;
}
.history-part button{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    background: #007ACC;
    border-radius: 5px;
    cursor: pointer;
}
.history-button{
    display: none;
}
.history-part.active .history-button{
    display: block;
}






@media only screen and (max-width:680px){
    .wrapper{        
        width:95%;
        margin-top: 70px;
    }
    .history-part{
        margin-top: 80px;
        background: white;
        padding: 20px 10px;
        border-radius: 5px;
        width: 90%;
        position: relative;
        right: auto;
        bottom: 0;
    }
    .modal{
        width: 95%;
    }
}